<p><h3>
  <%= link_to_unless_current post.title, post_path(post) %> 
</h3></p> 
<p> Author:
  <%= link_to post.user.login, user_path(post.user) %>
</p>
<p> <strong> Text:</strong>
<%= RedCloth.new(post.text, [:filter_html]).to_html.html_safe %>
</p>
<p> <%= image_tag post.image.url%> </p>

